In [1]:
import numpy as np
import pandas as pd

In [2]:
df_Ratings=pd.read_csv('BX-Book-Ratings.csv',sep=';',error_bad_lines=False,encoding='latin-1')
df_Books=pd.read_csv('BX-Books.csv',sep=';',error_bad_lines=False,encoding='latin-1')
df_User=pd.read_csv('BX-Users.csv',sep=';',error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
/home/vivek/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df_Ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [4]:
df_User.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [5]:
df_Books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [6]:
#df1.merge(df2,on='name').merge(df3,on='name')
df_merge=df_Books.merge(df_Ratings,on='ISBN').merge(df_User,on='User-ID')

In [7]:
df_merge.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,8,0,"timmins, ontario, canada",NaN

In [8]:
#Remove extra columns that are of no use for recommendation.
df_merge.drop(['Image-URL-S','Image-URL-M','Image-URL-L'],axis=1,inplace=True)

In [9]:
df_merge.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,User-ID,Book-Rating,Location,Age
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0,"stockton, california, usa",18.0
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5,"timmins, ontario, canada",NaN
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,8,0,"timmins, ontario, canada",NaN
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,8,0,"timmins, ontario, canada",NaN
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,8,0,"timmins, ontario, canada",NaN

In [10]:
#Grouped data on the basis of title ratings.
df_merge.groupby('Book-Title')['Book-Rating'].mean().sort_values(ascending=False).head()

Book-Title
Civil Rights Actions: Enforcing the Constitution (University Casebook)                                              10.0
FAR/AIM 2004: Federal Aviation Regulations/Aeronautical Information Manual (FAR series)                             10.0
What Followers Expect from Leaders : How to Meet People's Expectations and Build Credibility (Management Series)    10.0
FAR/AIM 2003: Federal Aviation Regulations/Aeronautical Information Manual (FAR series)                             10.0
Lewis and Clark: Voyage of Discovery (Voyage of Discovery)                                                          10.0
Name: Book-Rating, dtype: float64

In [11]:
ratings=pd.DataFrame(df_merge.groupby('Book-Title')['Book-Rating'].mean())

In [12]:
ratings['num of ratings']=df_merge.groupby('Book-Title')['Book-Rating'].count()

In [13]:
ratings.head()

,Book-Rating,num of ratings
Book-Title,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",2.25,4
Always Have Popsicles,0.00,1
Apple Magic (The Collector's series),0.00,1
"Ask Lily (Young Women of Faith: Lily Series, Book 5)",8.00,1
Beyond IBM: Leadership Marketing and Finance for the 1990s,0.00,1

In [23]:
r=ratings.reset_index()
r.head()

,Book-Title,Book-Rating,num of ratings
0,A Light in the Storm: The Civil War Diary of ...,2.25,4
1,Always Have Popsicles,0.00,1
2,Apple Magic (The Collector's series),0.00,1
3,"Ask Lily (Young Women of Faith: Lily Series, ...",8.00,1
4,Beyond IBM: Leadership Marketing and Finance ...,0.00,1

In [24]:
r[r['Book-Title']=='Clara Callan']

         Book-Title  Book-Rating  num of ratings
36036  Clara Callan     4.928571              14

In [93]:
df_pivot=df_merge.head(100000).pivot_table(index='User-ID',columns='Book-Title',values='Book-Rating')
#df_merge.head()

In [94]:
df_pivot=df_pivot.fillna(0)
df_pivot.head()

Book-Title,"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)","Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",Final Fantasy Anthology: Official Strategy Guide (Brady Games),"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750","Goosebumps Monster Edition 1: Welcome to Dead House, Stay Out of the Basement, and Say Cheese and Die!",It Takes Two,LA Gallinita Roja/the Little Red Hen,Murder of a Sleeping Beauty (Scumble River Mysteries (Paperback)),"Q-Space (Star Trek The Next Generation, Book 47)","Q-Zone (Star Trek The Next Generation, Book 48)",...,the Heiress Bride (sister brides),together by christmas,"wet sand, raven tracks",whataboutrick.com: a poetic tribute to Richard A. Ricci,"Â¡Corre, perro, corre!",Â¡Cristina! confidencias de una rubia,"Â¿QuÃ© me quieres, amor?",Ã?Â?ber das Fernsehen.,Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.,Ã?Â?lpiraten.
User-ID,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
243,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
388,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
df_book=df_pivot['13 99 Euros']

In [96]:
df_book
similar_to_Euros=df_pivot.corrwith(df_book)

In [97]:
similar_to_Euros.head()

Book-Title
 A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)         NaN
 Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth             -0.002994
 Final Fantasy Anthology: Official Strategy Guide (Brady Games)                                                    NaN
 Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750                      -0.002994
 Goosebumps Monster Edition 1: Welcome to Dead House, Stay Out of the Basement, and Say Cheese and Die!            NaN
dtype: float64

In [98]:
corr_Euros=pd.DataFrame(similar_to_Euros,columns=['Correlation'])

In [99]:
corr_Euros.head()

                                                    Correlation
Book-Title
 A Light in the Storm: The Civil War Diary of A...          NaN
 Earth Prayers From around the World: 365 Praye...    -0.002994
 Final Fantasy Anthology: Official Strategy Gui...          NaN
 Good Wives: Image and Reality in the Lives of ...    -0.002994
 Goosebumps Monster Edition 1: Welcome to Dead ...          NaN

In [100]:
corr_Euros.sort_values('Correlation',ascending=False).head()

                                            Correlation
Book-Title
Poison in the Pen                                   1.0
Monkeewrench                                        1.0
More Bible puzzles and games (Spire books)          1.0
Moonspun Magic                                      1.0
Month Brothers                                      1.0

In [101]:
corr_Euros=corr_Euros.join(ratings['num of ratings'])

In [102]:
corr_Euros.head()

,Correlation,num of ratings
Book-Title,,
"A Light in the Storm: The Civil War Diary of Amelia Martin, Fenwick Island, Delaware, 1861 (Dear America)",NaN,4
"Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth",-0.002994,10
Final Fantasy Anthology: Official Strategy Guide (Brady Games),NaN,4
"Good Wives: Image and Reality in the Lives of Women in Northern New England, 1650-1750",-0.002994,10
"Goosebumps Monster Edition 1: Welcome to Dead House, Stay Out of the Basement, and Say Cheese and Die!",NaN,9

In [103]:
corr_Euros.sort_values(['Correlation','num of ratings'],ascending=False).head()

                                               Correlation  num of ratings
Book-Title
Ender's Game (Ender Wiggins Saga (Paperback))          1.0             249
Paradise                                               1.0             172
Ishmael: An Adventure of the Mind and Spirit           1.0             162
Winter Moon                                            1.0             144
Possession : A Romance                                 1.0             141